<div class="grid">
  <section>
    <app-image-display [image]="image()" />
    <app-image-upload
      (imageChange)="image.set($event)"
      (fileChange)="file.set($event)"
      [validators]="uploadValidators"
    ></app-image-upload>
  </section>
  <section>
    <app-slider
      label="Gęstość informacji"
      [(value)]="dataDensity"
      [min]="1"
      [max]="31"
      [step]="1"
    ></app-slider>
  </section>
  <section>
    <textarea rows="5" [value]="textContent()" [disabled]="true"></textarea>
  </section>
</div>
