<h1>Etap 4: Edytor zniekształcający obrazy</h1>
<div class="grid">
  <section>
    <app-image-display [image$]="oldImage$"></app-image-display>
    <app-image-upload (imageChange)="onImageUpload($event)"></app-image-upload>
  </section>
  <section>
    <label>
      Skala <br />
      <input
        #scaleInput
        type="range"
        min="50"
        max="150"
        step="5"
        [value]="scaleSubject | async"
        (change)="scaleSubject.next(int(scaleInput.value))"
      />
    </label>
    <label>
      Szum <br />
      <input
        #noiseInput
        type="range"
        min="0"
        max="100"
        step="5"
        [value]="noiseSubject | async"
        (change)="noiseSubject.next(int(noiseInput.value))"
      />
    </label>
    <label>
      Rozmycie <br />
      <input
        #blurInput
        type="range"
        min="0"
        max="100"
        value="0"
        step="5"
        [value]="blurSubject | async"
        (change)="blurSubject.next(int(blurInput.value))"
      />
    </label>
    <label>
      Kontrast <br />
      <input
        #contrastInput
        type="range"
        min="50"
        max="150"
        step="5"
        value="100"
        [value]="contrastSubject | async"
        (change)="contrastSubject.next(int(contrastInput.value))"
      />
    </label>
    <div class="arrow">➜</div>
  </section>
  <section>
    <app-image-display [image$]="newImage$"></app-image-display>
    <app-image-download [image$]="newImage$"></app-image-download>
  </section>
</div>
