<section>
  <app-image-display [image]="image()"></app-image-display>
  <app-image-upload (imageChange)="image.set($event)"></app-image-upload>
</section>
<section>
  <label>
    Szarość <br />
    <select [(ngModel)]="grayscale">
      <option value="average">Średnia</option>
      <option value="luminosity">Jasność</option>
    </select>
  </label>
  <label>
    Dithering <br />
    <select [(ngModel)]="dithering">
      <option value="threshold">Próg</option>
      <option value="random">Losowy</option>
      <option value="floyd-steinberg">Floyd-Steinberg</option>
    </select>
  </label>
  <div class="arrow">➜</div>
</section>
<section>
  <app-image-display [image]="newImage()"></app-image-display>
  <app-image-download [image]="newImage()"></app-image-download>
</section>
