div {
  margin: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 2px dashed var(--app-gray);
  text-align: center;
  transition-duration: 0.5s;
}

input {
  width: 0px;
  height: 0px;
}

label strong {
  cursor: pointer;
  font-weight: bold;
}

.hovered {
  background-color: var(--app-silver);
}
