<h1>Etap 5: Ukrywanie informacji w metadanych PNG i JPG</h1>
<app-tabber>
  <app-tabber-tab name="Kodowanie PNG">
    <app-e5-encode-png></app-e5-encode-png>
  </app-tabber-tab>
  <app-tabber-tab name="Dekodowanie PNG">
    <app-e5-decode-png></app-e5-decode-png>
  </app-tabber-tab>
  <app-tabber-tab name="Kodowanie JPG">
    <app-e5-encode-jpg></app-e5-encode-jpg>
  </app-tabber-tab>
  <app-tabber-tab name="Dekodowanie JPG">
    <app-e5-decode-jpg></app-e5-decode-jpg>
  </app-tabber-tab>
</app-tabber>
