:host {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.align-section {
  grid-column: span 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lower {
  position: relative;
  width: 33.3%;
}

.higher {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
